.hero-toggle {
  @apply flex w-6 h-6 absolute opacity-0;
}

.hero-label {
  @apply relative flex cursor-pointer items-center text-[14vmin] transition-all duration-300;
  @apply visited:text-lime-500;
}

.name {
  @apply flex flex-auto shrink-0 justify-center font-serif;
}

.first-name {
  @apply transition-all duration-300 ease-out font-light;
}

.last-name {
  @apply font-bold uppercase;
}

.specialist {
  @apply -translate-y-full opacity-0 -z-10;
}

.image {
  @apply absolute bottom-4;

  &:first-of-type {
    @apply left-4 -translate-x-[200%] -rotate-180;
  }

  &:last-of-type {
    @apply right-4 translate-x-[200%] rotate-180;
  }
}

.image,
.specialist {
  @apply transition-all ease-bounce duration-700;
}

.hero-toggle:checked ~ * {
  .first-name {
    @apply grow-0 shrink w-0 opacity-0 -translate-x-1/2;
  }

  .last-name {
    @apply justify-between;

    & > span {
      @apply grow-0;
    }
  }

  .specialist {
    @apply translate-y-full opacity-100;
  }

  &.image {
    @apply translate-x-0 first-of-type:-rotate-6 last-of-type:rotate-6;
  }
}

.hero-label:hover,
.hero-toggle:focus-within ~ * .hero-label {
  @apply -translate-y-[1vmin] shadow-yellow-600 drop-shadow-[0_4px_2px_var(--tw-shadow-color)];
}

.click-me {
  animation: bounce-in 1s ease-in-out 3 forwards;
}

.scroll-down {
  @apply flex flex-col gap-2 items-center text-center;
  animation: bounce-in 1.75s ease-in-out infinite alternate-reverse;
}

@keyframes bounce-in {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-25%);
  }

  60% {
    opacity: 1;
    transform: none;
  }
}
