@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 230, 195, 25;
}

.dark:root {
  --foreground-rgb: 230, 195, 25;
  --background-rgb: 0, 0, 0;
}

* {
  @apply scroll-smooth scrollbar-thin scrollbar-track-transparent scrollbar-thumb-current scrollbar-thumb-rounded-full;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

svg {
  fill: currentColor;
}

@layer utilities {
  .text-background {
    @apply text-[rgb(var(--background-rgb))];
  }

  .bg-foreground {
    @apply bg-[rgb(var(--foreground-rgb))];
  }

  .invert-colors {
    @apply text-background bg-foreground;
  }

  .default-colors {
    @apply text-[rgb(var(--foreground-rgb))] bg-[rgb(var(--background-rgb))];
  }

  .hover-invert {
    @apply px-4 py-2 rounded transition-colors outline-none;

    &:hover,
    &:focus-within {
      &:not(.invert-colors) {
        @apply text-background bg-foreground;
      }

      &.invert-colors {
        @apply default-colors;
      }
    }
  }

  .link {
    @apply outline-none focus-within:underline hover:underline;
  }
}
