@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 230, 195, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*
    --foreground-rgb: 230, 195, 25;
    --background-rgb: 0, 0, 0;
    */
  }
}

* {
  @apply scroll-smooth scrollbar-thin scrollbar-track-transparent scrollbar-thumb-current scrollbar-thumb-rounded-full;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
